<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/index/css/rem.css">
    <link rel="stylesheet" href="/assets/index/css/indexOne.css">
</head>
<body>

<div class="nav">
    <p><a style="color: white" href="/index.php?c=page&m=index"> < </a></p>
    <h1>搜索</h1>
</div>

<div class="search">
    <p> <input type="text" placeholder="请输入搜索关键词"> </p>
</div>

<div class="list">
    <ul>
        <li>火箭签约安东尼</li>
        <li>山东暴雨预警</li>
        <li>黄晓明 股票操纵</li>
        <li>韩学臣被判无期</li>
        <li>茅台致歉</li>

    </ul>
</div>
</body>
<script src="/综合练习/js/index.js"></script>
</html>
